<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gudy.counter.mapper.TradeMapper">

    <!--持仓查询-->
    <select id="queryTrade" resultType="com.gudy.counter.bean.Trade">
        select
            t.id,
            t.uid,
            t.code,
            s.stock_name,
            t.direction,
            t.price,
            t.trade_count,
            t.trade_date,
            t.time
        from
            t_trade t,
            t_stock s
        where
            t.uid = #{uid,jdbcType=BIGINT}
          on t.code = s.code
    </select>


</mapper>
